<html>
<body>
    <div class="topnav">
    <h5>HDBStaff</h5>
      <a class="active" href="#">Login</a>
      <a routerLink="reg" >Register</a>
      
    </div>
        
    <div class="container">
      
        <label for="uname"><b>Username</b></label>
        <br>
        <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
        <label for="psw"><b>Password</b></label>
        <br>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br>    
        <button class="submit" type="submit"(click)="goToDash()" href="#home">Login</button>
       
        <button class="fPass" type="submit"  (click)="goToPass()" href="#home">forgot password ?</button>
       
      </div>
    
    </body>
    </html>