<html>
    <body>
            
      
        <div class="container">
      
            <label for="uname"><b>New password</b></label>
            <br>
            <input type="text" placeholder="Enter New Password" name="uname" required>
        <br>
            <label for="psw"><b>Confirm new password</b></label>
            <br>
            <input type="password" placeholder="Enter Confirm new password" name="psw" required>
            <br>       
        <button type="submit" (click)="goToLogin()" href="#home">Submit</button>
      </div>
    </body>
</html>
